.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 0;
  @media screen and (max-width: 1500px) {
    max-width: 1400px;
    justify-content: center;
  }
  @media screen and (max-width: 935px) {
    max-width: 480px;
  }
}