@keyframes arrow-animation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}


.wrapper {
  flex-basis: 30%;
  margin: 35px;
  max-width: 428px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e7e7e7;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 20px 25px rgba(153, 153, 153, 0.1);
  transition: border .3s, filter .3s;
  @media screen and (max-width: 1500px) {
    flex-basis: 45%;
    max-width: 500px;
  }
  &:hover {
    border: 1px solid #ffe5ae;
    filter: sepia(15%);
    cursor: pointer;
    & button {
      background-color: #ffd375;
    }
    & .arrow {
      animation-play-state: running;
    }
  }
}

.img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  min-height: 120px;
}

.text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

.content {
  font-size: 18px;
  padding: 10px;
  padding-left: 15px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.more {
  width: 135px;
  border-radius: 10px;
  margin: 15px;
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.arrow {
  animation-name: arrow-animation;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  display: block;
  font-size: 22px;
}