.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 672px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  flex-basis: 100%;
}