.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #447fff;
}

.navbar {
  padding: 30px;
}

.link {
  color: #fff;
  font-size: 22px;
  margin: 15px;
}

.button {
  background-color: #fff;
  border-radius: 10px;
  margin-right: 15px;
  font-size: 18px;
}

.buttonWrapper {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.title {
  color: #fff;
}